@model ICollection<Website.Models.Writer>
<link href="~/Content/styling.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Remove writer from movie";
}

<h2>Choose which writer to remove from - @ViewBag.movieName</h2>

<table class="table">
    <tr>
        <th>
            Writer Name
        </th>
        <th>
            Place Of Birth
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.WriterName, "RemoveWriterFromMovie", new { WriterId = item.WriterId, MovieId = ViewBag.movieId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfBirth)
            </td>
        </tr>
    }

</table>
