@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>
        <header>
            <span></span>
            <h1>Welcome to SmartBook website. The place to get expert on reading and understanding books!</h1>
            <h3>We hope you enjoy and make the most out of it!<i class="fa fa-smile-o"></i></h3>
        </header>
        <div class="w3-container">
            <h4>
                This site will guide you through the study and reading of books, improve your understanding and keep track of your progress.
                We hope you get the most out of it and we are here to be by your side at all times.
            </h4>
            <p>Go to our <a class="w3-text-teal" href="https://www.meistertask.com/app/project/ga0xDhW4/18">meistertask</a> to learn more!</p>
        <hr />
</div>
        <div>
            <header>
                <h2>About the website</h2>
                <h4>Children's books are no longer an old and boring thing. They are experts in all technological devices and their finger wanted on touch screens. Now they can use it to read books. In our age, parents often complain that children spend hours in front of screens. Instead of complaining, you should know that there is a way to connect the love of their screens with educational and enriching activities. Get to know the digital book world for kids.</h4>
            </header>
        </div>
<hr />
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h3>OUR TEAM</h3>
    <div class="w3-row">
        <br>

        <div class="w3-quarter">
            <img src="https://lh3.googleusercontent.com/-uFIq-wXWeZc/AAAAAAAAAAI/AAAAAAAAAD4/g2RzED7p_oA/photo.jpg"  style="width:5%" >
            <h5>Sagi Mor</h5>
           
        </div>

        <div class="w3-quarter">
            <img src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/70667742_2457765234467744_8248072117409546240_o.jpg?_nc_cat=105&_nc_ohc=2DJ06r10--wAQlyM9JMrT1Zw-Sdjjg0bU7l4G9H54JQ1zJAMXawx493nw&_nc_ht=scontent.fsdv2-1.fna&oh=70b086318a057b12abce1eeac30dbf37&oe=5E66290F"  style="width:5%">
            <h5>Idan Ben</h5>
          
        </div>

        <div class="w3-quarter">
            <img src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/p720x720/50715984_2034942173259426_2616339612519366656_o.jpg?_nc_cat=108&_nc_ohc=FXuPBKWPNAEAQmh5tpLjODo-WAMHcbjcRP5FoTe3_w_lSCaiQG8o2cHxQ&_nc_ht=scontent.fsdv2-1.fna&oh=678e6813c7f1346e13b86e5c879c3ae8&oe=5E70C9C5"  style="width:5%">
            <h5>Faruch Ismailov</h5>
            
        </div>
