@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title.</h2>


<p> <a href="https://freekidsbooks.org/bookview/14990/">1)Rat and his Six thinking Hat</a>  </p>

<p>
    Roy the Rat has six thinking hats that he use whenever he wants to enter the process of making a decision.
    These hats help him approach situations carefully, by judging from different angles, and assist to avoid making
    hasty decisions or mistakes. This is a great technique that children can learn to apply in day to day life.
    The story is based on De Bono’s Six Thinking Hats technique.
    In this story each hat has a different approach or outlook on things, the yellow hat makes Toy be more optimistic,
    the green hat makes Roy become more of a planner and think out of the box, the blue hat makes him more organized
    and so on.

</p>