@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    For any suggestions or in any problem feel free to contact us at: <br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sagimor124@gmail.com">sagimor124@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:idanbn925@gmail.com">idanbn925@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:faruch12@gmail.com">faruch12@gmail.com</a><br />
   
</address>