@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>

 <h1 class="display-6">to learn books <a href="https://www.meistertask.com/app/project/ga0xDhW4/18">meistertask programing</a>.</h1>

</div>

